# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf

# Unix-style newlines with a newline ending every file
insert_final_newline = true

# Set default charset
charset = utf-8

[*.{js,ts}]
# 4 space indentation
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[.vscode/**.json]
indent_style = tab

# 历史原因需要保留 tab 缩进的代码文件
[src/{test/extension.test.ts,extension.ts}]
indent_style = tab
